
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');


html {
    font-family: 'habibi';
}

h1, h2 {
    font-family: 'Irish Grover', ariel, helvetica, sans-serif;
}

h1 {
    font-size: 2.5em;
    border-style: #000000 1px;
}

h2 {
    font-size: 1.75em;
}

h3, p {
    font-size: 1.25em;
}


ul {
    list-style-type: none;
    background-color: #E75D02;
}

.header {
    background-color: #06A816;
    color: #ffffff;
    width: 100%;
    text-shadow: 1px black;
}