/*      
Green: #06A816
Orange: #E75D02
Black: #000000
White: #ffffff
*/

/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

/*-------------------- CSS RESET ---------------------------------------------------*/
html {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

/* -------------------- ROOT VARIABLES --------------------------------------- */

body {
    font-family: 'Habibi', Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 1.75em;
} 

h3, body {
    font-size: 1.25em;
}

.header {
    font-family: 'Irish Grover', Arial, Helvetica, sans-serif;
    background-color: #06A816;
    color: #ffffff;
}

ul {
    list-style: none;

}
.nav {
    background-color: #E75D02;
    border-color: #ffffff;
}

.top {
    background-color: #E75D02;
    border-color: #ffffff;
    position: fixed;
    z-index: 1;
    left: 10%;
    top: 90%;
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
@media screen and (max-width: 428px) {
    .fruitImages .vegetableImages {
        display: grid;

       
    }
}


/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media screen and (max-width: 834px) {
    .fruitImages .vegetableImages {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media screen and (max-width: 1280px) {
    .fruitImages .vegetableImages {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}


/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/
@media screen and (max-width: 1440px) {
    .fruitImages .vegetableImages {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
